.right_part {
    margin-left: 17%;
    width: 83%;
    display: flex;
    flex-direction: column;
    
}

.header_patients {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.btn_search {
    color:white;
    background-color:#1F57EC;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.searching_input {
    font-size:14px;
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 1px #1F57EC;
    padding: 10px;
    padding-left:30px ;
}

/* header part of patients */
.header_section_displaying_patients {
    display: flex;    
    flex-direction: row;
    margin: 0px 20px 10px 20px;
    padding-left: 10px;
}

.header_section_displaying_patients > p {
    font-weight: bolder;
}


.displaying_patients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 20px 0px 20px;
}

.patient_view {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-top: solid 0.1px gray;
}

.patient_view_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px;
    background-color: white;
    border-top: solid 1px gray; */
}

.patient_view_left > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.patient_view_left > div > img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color : rgba(140, 196, 201, 60%);
    margin-right: 10px;
}

.btn_archived {
    width: 45px;
    background-color:#B987AD;
    color:white;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.btn_follow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45px;
    background-color: #8CC5CA;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 2px;
}

.btn_suivi_destroy {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45px;
    background-color: gray;
    margin-left: 5px;
    color:white;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    cursor : no-drop;
}

/* .btn_suivi_destroy::after {
    content: attr(title);
    position: absolute;
    
    left: 50%;
    
    padding: 5px;
    background-color: rgba(185, 135, 173, 30%);
    border: solid 1px #B987AD;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.infobulle:hover::after {
    opacity: 1;
} */

.no_result_classe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position : absolute;
    width: 65%;
    padding: 10px;
    margin-left: 25px; margin-bottom: 20px;
    background-color: rgba(185, 135, 173, 30%);
    border: solid 1px #B987AD;
    border-radius: 10px;
}

.btn_delete {
    color: white;
    background-color: #D71313;
    padding: 10px;
    cursor: pointer;
}