.section_patient_vitalSign {
    width: 83%;
    margin-left: 17%;
}

.section_header_suivi {
    margin: 20px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.section_dashbord_suivi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.section_dashbord_suivi > h2 {
    width: 195px;
    margin: 20px;
    font-size: 16px;
    background-color: #D7E5FF;
    color: #1F57EC;
    padding: 10px;
}

.btn_archived {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 50px;
    height: 18px;
    background-color:#B987AD;
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn_add_tuteur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.btn_editNotification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #1F57EC;
}

.div_message {
    display: none;
    position: absolute;
    z-index: 5;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgba(31, 87, 236, 30%);
    border: solid 1px #1F57EC;
    padding: 10px;
    border-radius: 5px;
}

.btn_editNotification:hover > .div_message {
    display: inline-block;
}

.other_patient_attributs {
    width: 710px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:#D7E5FF;
    height: 200px;
    margin-left: 20px;
    padding-left: 20px; padding-top: 10px; padding-bottom: 10px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: solid 1px #1F57EC;
}

.attributs_patient {
    display: flex; 
    flex-direction:row; 
    align-items:center;
}

.attributs_patient > svg {
    margin-right: 5px;
}

.image_patient {
    margin-right: 20px;
}

.image_patient > img {
    width: 150px;
    height: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header_secton_vs {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header_secton_vs > h3 {
    font-size: 18px;
    margin-right: 10px;
}

.btn_see_vs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_see_more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:#1F57EC;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_see_more_show {
    display: none;
}

.section_patient_vitalSign > h3 {
    margin-left: 20px;
    font-size: 18px;
}

.section_patient_vitalSign > hr {
    width:85px;
    height: 2px;
    background-color: #1F57EC;
    margin-left: 21px;
    margin-bottom: 20px;
    border: 0px;
}

.btn_realtime {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1F57EC;
    padding: 11px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}

.vitalSign_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(100px, 180px));
    grid-auto-rows: minmax(150px, auto);
    grid-gap : 3rem; 
    margin-left: 20px;
}

.view_vitalSign {
    width: 100%;
    /* background-color: #D7E5FF; */
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0 0 0.3px 0.3px gray;
}

.view_vitalSign > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.div_icone_vitalSign {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    padding: 7px;
    background-color: #8CC5CA;
    margin-right: 10px;
}

.state_health > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px;
    margin-right: 10px;
    background-color: #8CC5CA;
    border-radius: 5px;
    padding: 5px;
}

.section_patient_vitalSign > h3 {
    margin-top: 40px;
}


/* FRAME CREATION PART */

.frame_creation {
    display: none;
    position: absolute;
    z-index: 2;
    width: 83%;
    height: 100vh;
    /* height: unset; */
    /* margin-top: -117px; */
    background-color: rgba(0, 0, 0, 0.5);
}

.frame_creation2 {
    display: none;
    position: absolute;
    z-index: 2;
    width: 83%;
    height: 100vh;
    /* height: unset; */
    /* margin-top: -117px; */
    background-color: rgba(0, 0, 0, 0.5);
}

.sectionCreation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sectionCreation > form {
    width: 60%;
    border-color: #243AFF ;
    background-color: white;
    padding-bottom: 2%;
    border-radius: 10px;
}

.headerForm {
    padding: 20px;
    background:#1F57EC;
    text-align: center;
    margin-bottom: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerForm > h1 {
    color: white;
}

.divInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divInputsI, .divInputsII {
    width: 40%;   
}

.champEntree {
    width : 90%;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    border: solid 1px gray;
}

.champSelect {
    width: 105%;
    background-color: white;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 10px;
    border: solid 1px gray;
}

.divCancel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}

.btnCancel {
    font-size: 13px;
    background-color: #D71313;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.btnCancel2 {
    font-size: 13px;
    background-color: #D71313;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.btnSubmit {
    display: block;
    padding : 10px ;
    background:#1F57EC;
    color : white ;
    border:0px ;
    cursor:pointer;
    margin-left: 5%;
    border-radius: 10px;
}

.no_result_classe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position : absolute;
    width: 65%;
    padding: 10px;
    margin-left: 25px; margin-bottom: 20px;
    background-color: rgba(185, 135, 173, 30%);
    border: solid 1px #B987AD;
    border-radius: 10px;
}

.no_tuteur_classe {
    display: none;
}

.formulaireFilter {
    margin-left: 135px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.formulaireFilter > input {
    margin-right: 20px;
}

.formulaireFilter > p {
    margin-right: 5px;
}

.btn_submit_filter {
    border:0px; 
    background-color: #B987AD; 
    color:white; 
    cursor:pointer;
    padding: 10px;
    border-radius: 5px;
}

.date_filtre1 {
    padding: 9px;
    border-radius: 5px;
    border: solid 1px gray;
}

.date_filtre2 {
    padding: 9px;
    border-radius: 5px;
    border: solid 1px gray;
}

/* Exemple de styles CSS personnalisés pour le DatePicker */
.ui-datepicker {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 250px;
}

.ui-datepicker-header {
    background-color: #007bff;
    color: #ffffff;
}

.ui-datepicker-title {
    font-weight: bold;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar .ui-state-default {
    background-color: #ffffff;
    color: #333333;
}

.ui-datepicker-calendar .ui-state-hover {
    background-color: #007bff;
    color: #ffffff;
}

.ui-datepicker-calendar .ui-state-active {
    background-color: #007bff;
    color: #ffffff;
}

.ui-datepicker-calendar .ui-datepicker-unselectable {
    color: #cccccc;
}